@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.card {
    border-radius: 12px;
    background-color: #fff;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
}

.card:hover {
    top: -4px;
    /*transform: rotateY(180deg);*/
}

.--spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*
.--fade-in {
    animation: fade-in .3s linear forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate3d(-50px, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}*/


.spin-3s {
    animation: big-hand 3s linear infinite;
    transform-origin: 0% 0%;
    top: 50%;
    left: 50%;
    width: 0.25rem;
    height: 2rem;
    position: absolute;
    border-radius: 12px;
}

@keyframes big-hand {
    0% {
        transform: rotate(0deg) translateX(-50%);
    }

    100% {
        transform: rotate(360deg) translateX(-50%);
    }
}

.spin-1s {
    animation: big-hand 1s linear infinite;
    transform-origin: 0% 0%;
    top: 50%;
    left: 50%;
    width: 0.25rem;
    height: 1.55rem;
    position: absolute;
    border-radius: 12px;
}